@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "variables.scss";

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  position: relative;

  main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
  }

  .VictoryContainer {
    height: unset !important;
  }
}
